<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Connexion PostgreSQL -->
    <bean id="connexion" class="db.UtilDB">
        <property name="port" value="5432"/>
        <property name="db" value="ci4_ecole"/>
        <property name="user" value="postgres"/>
        <property name="pwd" value=""/>
    </bean>
</beans>
